
.HeaderPostition{
	background-color: rgba(155, 146, 146, 0.705); 
}

/*按鈕的樣式--------------------------------------------------*/

.Bt_blue{  
    color:rgb(24, 24, 168);
    border: 1px rgb(24, 24, 168) solid  ;
    background-color:rgb(245, 241, 242);
}

.Bt_black{
    color:rgb(35, 35, 36);
    border: 1px rgb(35, 35, 36) solid  ;
    background-color:rgb(245, 241, 242);
  }