/* 文字水平置中 */
.text_center{
    text-align: center;
  }

/* 商品照片外框 */
.itemImageBorder{
    background-color: rgba(225, 226, 226, 0.378); 
    border:1px solid rgb(230, 227, 227,0.3) ;
    border-radius: 3px;
    padding: 20px;
   }

/* 加入購物車鈕 */
.addButton{
    /* border:1px solid maroon; */
    /* border-radius:5px; */
    padding:1px 3px;
    cursor:pointer;
    color:maroon;
  }
  
  
