 .marginTop20{
   margin-top: 20px;
 }  
  
 .content{
   padding: 50px;
   background-color: rgb(115, 120, 124);
 }
  
 .title{
    font-size: 18px;
    background-color: rgb(252, 252, 252);
    padding: 5px;
  } 
  
  
  
  
  
  
