.container{
    text-align: center;
    margin: 50px auto;
    /* background-color: lawngreen; */
  }

.orderNumber{
    text-align: left;
    font-size: 20px;
    margin: 10px 0px;
  } 

  i{
    font-size: 80px;
    color: rgb(95, 151, 11);
  }
  #success_Text{
    font-size: 80px;
  }  

#thanks{
    margin-bottom: 20px;
    font-size: 20px;
}