/* MerchandiseIndex、ActivityDetail****************************************************** */
/* 發布日期 */
#container_news .date,#container_ActivityDetail .date{
   /* border:1px solid  rgb(73, 147, 221) ; */
   margin-right: 15px;
}


/* MerchandiseIndex****************************************************** */
/*活動快訊外層容器*/
#container_news .newsBlock{
    /* border: 1px solid slateblue; */
       margin-bottom: 40px;
       height: 400px;
    }

/* 活動快訊標題 */
#newsTitle{
   padding: 10px;
   
}

/* 裝優惠日期+資訊的block */
#container_news .block{
   /* background: #000; */
   padding: 5px;
}


#container_news .block:hover{
   cursor:pointer;
}

/* 地區搜尋的圖片==========================================================================*/


#container_news .area_search{  
   position: relative;
/*    overflow: hidden;   隱藏超過的部分 */
  
/*    width: 300px; */
/*    height: 300px;  */
   /* border: 1px solid tan; */
 
/*    margin: 0px auto; */
/*    padding:0px; */
   
   display: block;
   cursor: pointer;
   
 }

#container_news img[alt]{
   /* border-radius: 50px; */
   /* border: 5px solid black; */
   position: absolute;
   height: 100%;
   width: 100%;
   transition: transform .2s; /*設定滑過秒數*/
  }

#container_news .area_search:hover img[alt]{
   transform: scale(2,2);
 }

 /* 加背景 ===============================*/
 #container_news .area_search .mask{
   position: absolute;
   width: 100%; 
   height: 100%; 
   opacity: 0; /* 透明度  */

   text-align: center;
}
 #container_news .area_search:hover .mask, #countryName{
   opacity: 1;
} 

#container_news #countryName{
   color:red;
    opacity: 1;
} 


@media screen and (max-width:768px) {
   #container_news .area_search{   
      width: 500px;
      height: 500px; 
      margin:20px 0px;
    }
}

/* ActivityDetail****************************************************** */
#container_ActivityDetail{
	
	max-width:1200px;
}

#container_ActivityDetail .title{
   padding: 5px;
 }

 /* MerchandiseSearchResult*********************************************/

 #container_MerchandiseSearchResult{
   text-align: center;
   max-width:1200px;
 }

/* 商品照片外框 */
/* .itemImageBorder{ */
/*    border-radius: 3px; */
/*    padding: 20px; */
/*   } */


/* 加入購物車鈕 */
#container_MerchandiseSearchResult .addButton{
   /* border:1px solid maroon; */
   /* border-radius:5px; */
   padding:1px 3px;
   cursor:pointer;
 }
 
 /*MerchandiseDetail*********************************************/
 /* 上方-------------------------------------------------------- */
 #container_MerchandiseDetail .above{
   margin-bottom: 10px;
}

/* 購買資訊分頁的按鈕--------------------------------------------- */
.AboutPurchaseInformation{
padding: 1px;
   
}

#ProductDescription, #Purchase ,#QA{
   display: inline-block;
   box-sizing: border-box;
   padding: 1px;
   /* border: 1px solid black; */

}

#ProductDescription:hover, #Purchase:hover ,#QA:hover{
   cursor: pointer;
}

/* 商品資訊----------------------------------------------------- */
 #container_MerchandiseDetail .ItemInformationContent{
   padding: 50px;
 }
 
 #container_MerchandiseDetail .mb-5 {
    margin-bottom: 1rem!important;
}
  
 #container_MerchandiseDetail .title{
    padding: 5px;
  } 
/* 加入購物車--------------------------------------------------   */
  #container_MerchandiseDetail select{
     width: 300px;
     display: inline-block;
}

/* ShoppingCart****************************************************** */
#container_ShoppingCart{
   text-align: center;
   align-items: center ;
   /* background: #000; */
}

/*上方按鈕區--------------------------------------------------------  */
.ButtonsBlock{
   text-align: left
}


#container_ShoppingCart .row{
   margin-bottom: 10px;
   align-items: center ;
}

/* 商品清單區 -----------------------------------------------------------*/
#container_ShoppingCart img{
    max-width: 200px;
    min-width: 80px;
}

#container_ShoppingCart .ItemField{
   min-width: 70px;
}

#container_ShoppingCart input[type="number"]{
   width: 40px;
}

/* SelectPayment****************************************************** */
#container_SelectPayment{
   /* background: #000; */
   margin: 50px auto;
   width: 600px;
   padding: 20px;
   border-radius: 5px;
 }
 #container_SelectPayment input[type="text"]{
   width: 400px;
}
#container_SelectPayment #Orderer input[type="text"]{
   width: 100px;
}

/* 2個字------------------------------------------------ */
#container_SelectPayment label[for="Male"], label[for="Famale"], label[for="Secrecy"]{
   width: 35px;
/*       border: 1px solid rgb(94, 150, 199); */
}
/* 4個字------------------------------------------------ */
#container_SelectPayment label[for="CashOnDelivery"]{
   width: 70PX;
   /*    border: 1px solid rgb(94, 150, 199); */
}

/* 6個字------------------------------------------------ */
#container_SelectPayment label[for="EInvoice"],label[for="ConvenienceStore"]{
   width: 100pX;
/*    border: 1px solid rgb(94, 150, 199); */
   
}
/* 7個字------------------------------------------------ */
#container_SelectPayment label[for="Company"]{
   width: 120PX;
   /*    border: 1px solid rgb(94, 150, 199); */
   /* background: #000; */
}

#container_SelectPayment .col-form-label{
	 width: 70px;
	
}

/* PurchaseSuccess*************************************************************** */
/* 訂單編號--------------------------------------------------------------------- */
#container_PurchaseSuccess{
   text-align: center;
   margin: 50px auto;
   /* background-color: lawngreen; */
}


/* PurchaseSuccess*************************************************************** */

/* 感謝詞----------------------------------------------------------------------- */
#thanks{
   margin-bottom: 20px;
}


/* MyOrderList*************************************************************** */
#container_MyOrderList{
   margin-top: 100px;
   text-align:center;
   max-width:1390px;
}

/* 訂單項目 */
#container_MyOrderList .Item{
   margin-bottom: 10px;
   line-height:10px;
   padding: 15px 0px;
/*    text-align:center; */
	align-items:center;
}

/* SubmitBlock ****************************************************************/



/* OrderDetail*************************************************************** */
#container_OrderDetail{
   text-align:center;
}


/* ShoppingCart、OrderDetail****************************************************** */
#container_OrderDetail .fa-search, #container_ShoppingCart .fa-search{
   float:right;
}

#container_OrderDetail .fa-search:hover ,#container_ShoppingCart .fa-search:hover{
cursor: pointer;
}
/* ShoppingCart、MyOrderList****************************************************** */
/* 欄位敘述欄--------------------------------------------------------- */
#container_ShoppingCart .FieldDescription, #container_MyOrderList .FieldDescription{
   /* line-height:25px; */
    min-width: 70px;
 }

/* ShoppingCart、SelectPayment、OrderDetail****************************************************** */
/* 結帳列 、總金額列-------------------------------------------------------------------------*/
#SubmitBlock, #SubtotalBlock , .Submit{
   /*    padding: 10px; */
   text-align: right;
}
/* PurchaseSuccess、OrderDetail、SubmitOrderInfo*************************************************************** */
/* 訂單編號--------------------------------------------------------------------- */
.OrderNumber{
   text-align: left;
   margin: 10px 0px;
 } 

 /* SubmitOrderInfo、OrderDetail************************************************************** */
 #container_SubmitOrderInfo img ,#container_OrderDetail img{
    width: 100%;
    border-radius: 10px;
 }
 
 /* 欄位敘述欄-------------------------------------------- */
 #container_OrderDetail,#SubmitOrderInfo .FieldDescription{
 /* line-height:25px; */
    min-width: 60px;
 } 

 /* 商品清單欄-------------------------------------------- */
 #container_OrderDetail .col-1,.col-2 ,#container_SubmitOrderInfo .col-1,.col-2{
   min-width: 60px;
}


#container_OrderDetail .row,#container_SubmitOrderInfo .row{
   margin-bottom: 10px;
   align-items: center; 
}

#container_OrderDetail .Item, #container_SubmitOrderInfo .Item{
   padding: 0px 0px 10px 0px;
   display: flex;
   align-items: center; 
}