/* ActivityDetail****************************************************** */

#container_ActivityDetail .title{
   font-size: 18px;
 }

 #newsTitle{
  font-size: 1.5rem;
  
}
/* MerchandiseDetail************************************************************ */
#container_MerchandiseDetail .title{
    font-size: 18px;
    }

/* PurchaseSuccess*************************************************************** */
/* 勾勾icon--------------------------------------------------------------------- */
#container_PurchaseSuccess .fas{
    font-size: 80px;
  }

/* 訂購成功--------------------------------------------------------------------- */
#successText{
    font-size: 80px;
  }  
 /* 感謝詞----------------------------------------------------------------------- */
 #thanks{
    font-size: 20px;
 }

/* PurchaseSuccess、OrderDetail、PurchaseSuccess************************************************* */
 /* 訂單編號 */
.OrderNumber{
    font-size: 20px;
  }
 
  /* SubmitOrderInfo**************************************************************  */
  .PayTitle{
    font-size: 20px;
    text-decoration:underline;
 }
