/* MerchandiseIndex、ActivityDetail****************************************************** */
/* 發布日期 */
#container_news .date,#container_ActivityDetail .date{
   /* border:1px solid  rgb(73, 147, 221) ; */
   margin-right: 15px;
}


/* MerchandiseIndex****************************************************** */
/*活動快訊外層容器*/
#container_news .newsBlock{
    /* border: 1px solid slateblue; */
       margin-bottom: 40px;
       height: 300px;
    }

/* 活動快訊標題 */
#newsTitle{
   border-bottom: 1px solid rgb(126, 125, 125);
   background: rgb(105, 105, 105);
   padding: 10px;
}

/* 裝優惠日期+資訊的block */
#container_news .block{
   /* background: #000; */
   border-bottom: 1px solid rgb(224, 224, 224);
   padding: 5px;
}


#container_news .block:hover{
   color: darkgray;
   cursor:pointer;
}

/* 地區搜尋的圖片==========================================================================*/

#container_news .area_search{  
  position: relative;
  overflow: hidden;/*    隱藏超過的部分 */
 
  width: 250px;
  height: 250px; 
  /* border: 1px solid tan; */

  margin: 0px auto;
  padding:0px;
  
}

#container_news .area_search{  
   position: relative;
   overflow: hidden;/*    隱藏超過的部分 */
  
   width: 250px;
   height: 250px; 
   /* border: 1px solid tan; */
 
   margin: 0px auto;
   padding:0px;
   
   display: block;
   cursor: pointer;
   
 }

#container_news img[alt]{
   /* border-radius: 50px; */
   /* border: 5px solid black; */
   position: absolute;
   height: 100%;
   width: 100%;
   transition: transform .2s; /*設定滑過秒數*/
  }

#container_news .area_search:hover img[alt]{
   transform: scale(2,2);
 }

 /* 加背景 ===============================*/
 #container_news .area_search .mask{
   position: absolute;
   width: 100%; 
   height: 100%; 
   opacity: 0; /* 透明度  */

   background: rgba(54, 123, 180, 0.7);

   text-align: center;
}
 #container_news .area_search:hover .mask{
   opacity: 1;
} 


@media screen and (max-width:768px) {
   #container_news .area_search{   
      width: 500px;
      height: 500px; 
      margin:20px 0px;
    }
}

/* ActivityDetail****************************************************** */

#container_ActivityDetail .title{
   font-size: 18px;
   background-color: rgb(252, 252, 252);
   padding: 5px;
 }

 /* MerchandiseSearchResult*********************************************/

 #container_MerchandiseSearchResult{
   text-align: center;
 }

 
/* 商品照片外框 */
.itemImageBorder{
   background-color: rgba(225, 226, 226, 0.378); 
   border:1px solid rgb(230, 227, 227,0.3) ;
   border-radius: 3px;
   padding: 20px;
  }

/* 加入購物車鈕 */
#container_MerchandiseSearchResult .addButton{
   /* border:1px solid maroon; */
   /* border-radius:5px; */
   padding:1px 3px;
   cursor:pointer;
   color:maroon;
 }
 
 /*MerchandiseDetail*********************************************/
 /* 上方-------------------------------------------------------- */
 #container_MerchandiseDetail .above{
   margin-bottom: 10px;
}

/* 購買資訊分頁的按鈕--------------------------------------------- */
.AboutPurchaseInformation{
padding: 1px;
   
}

#ProductDescription, #Purchase ,#QA{
   display: inline-block;
   box-sizing: border-box;
   padding: 1px;
   /* border: 1px solid black; */
   border: 1px solid black;

}

#ProductDescription:hover, #Purchase:hover ,#QA:hover{
   border: 1px solid rgb(119, 118, 118);

   background: rgb(214, 213, 213);
   cursor: pointer;
}

/* 商品資訊----------------------------------------------------- */
 #container_MerchandiseDetail .ItemInformationContent{
   padding: 50px;
   background-color: rgb(115, 120, 124);
 }
  
 #container_MerchandiseDetail .title{
    font-size: 18px;
    background-color: rgb(252, 252, 252);
    padding: 5px;
  } 
/* 加入購物車--------------------------------------------------   */
  #container_MerchandiseDetail select{
     width: 300px;
     display: inline-block;
}