/* MerchandiseIndex、ActivityDetail****************************************************** */
/* 發布日期 */
#container_news .date,#container_ActivityDetail .date{
   /* border:1px solid  rgb(73, 147, 221) ; */
   margin-right: 15px;
}


/* MerchandiseIndex****************************************************** */
/*活動快訊外層容器*/
#container_news .newsBlock{
    /* border: 1px solid slateblue; */
       margin-bottom: 40px;
       height: 300px;
    }

/* 活動快訊標題 */
#newsTitle{
   border-bottom: 1px solid rgb(126, 125, 125);
   background: rgb(105, 105, 105);
   padding: 10px;
}

/* 裝優惠日期+資訊的block */
#container_news .block{
   /* background: #000; */
   border-bottom: 1px solid rgb(224, 224, 224);
   padding: 5px;
}


#container_news .block:hover{
   color: darkgray;
   cursor:pointer;
}

/* 地區搜尋的圖片==========================================================================*/

#container_news .area_search{  
  position: relative;
  overflow: hidden;/*    隱藏超過的部分 */
 
  width: 250px;
  height: 250px; 
  /* border: 1px solid tan; */

  margin: 0px auto;
  padding:0px;
  
}

#container_news .area_search{  
   position: relative;
   overflow: hidden;/*    隱藏超過的部分 */
  
   width: 250px;
   height: 250px; 
   /* border: 1px solid tan; */
 
   margin: 0px auto;
   padding:0px;
   
   display: block;
   cursor: pointer;
   
 }

#container_news img[alt]{
   /* border-radius: 50px; */
   /* border: 5px solid black; */
   position: absolute;
   height: 100%;
   width: 100%;
   transition: transform .2s; /*設定滑過秒數*/
  }

#container_news .area_search:hover img[alt]{
   transform: scale(2,2);
 }

 /* 加背景 ===============================*/
 #container_news .area_search .mask{
   position: absolute;
   width: 100%; 
   height: 100%; 
   opacity: 0; /* 透明度  */

   background: rgba(54, 123, 180, 0.7);

   text-align: center;
}
 #container_news .area_search:hover .mask{
   opacity: 1;
} 


@media screen and (max-width:768px) {
   #container_news .area_search{   
      width: 500px;
      height: 500px; 
      margin:20px 0px;
    }
}

/* ActivityDetail****************************************************** */

#container_ActivityDetail .title{
   font-size: 18px;
   background-color: rgb(252, 252, 252);
   padding: 5px;
 }

 /* MerchandiseSearchResult*********************************************/

 #container_MerchandiseSearchResult{
   text-align: center;
 }

 
/* 商品照片外框 */
.itemImageBorder{
   background-color: rgba(225, 226, 226, 0.378); 
   border:1px solid rgb(230, 227, 227,0.3) ;
   border-radius: 3px;
   padding: 20px;
  }

/* 加入購物車鈕 */
#container_MerchandiseSearchResult .addButton{
   /* border:1px solid maroon; */
   /* border-radius:5px; */
   padding:1px 3px;
   cursor:pointer;
   color:maroon;
 }
 
 /*MerchandiseDetail*********************************************/
 /* 上方-------------------------------------------------------- */
 #container_MerchandiseDetail .above{
   margin-bottom: 10px;
}

/* 購買資訊分頁的按鈕--------------------------------------------- */
.AboutPurchaseInformation{
padding: 1px;
   
}

#ProductDescription, #Purchase ,#QA{
   display: inline-block;
   box-sizing: border-box;
   padding: 1px;
   /* border: 1px solid black; */
   border: 1px solid black;

}

#ProductDescription:hover, #Purchase:hover ,#QA:hover{
   border: 1px solid rgb(119, 118, 118);

   background: rgb(214, 213, 213);
   cursor: pointer;
}

/* 商品資訊----------------------------------------------------- */
 #container_MerchandiseDetail .ItemInformationContent{
   padding: 50px;
   background-color: rgb(115, 120, 124);
 }
  
 #container_MerchandiseDetail .title{
    font-size: 18px;
    background-color: rgb(252, 252, 252);
    padding: 5px;
  } 
/* 加入購物車--------------------------------------------------   */
  #container_MerchandiseDetail select{
     width: 300px;
     display: inline-block;
}

/* ShoppingCart****************************************************** */
#container_ShoppingCart{
   text-align: center;
   align-items: center ;
   /* background: #000; */
}

/*上方按鈕區--------------------------------------------------------  */
.ButtonsBlock{
   text-align: left
}


#container_ShoppingCart .row{
   margin-bottom: 10px;
   align-items: center ;
}

/* 商品清單區 -----------------------------------------------------------*/
#container_ShoppingCart img{
    max-width: 200px;
    min-width: 80px;
}

#container_ShoppingCart .ItemField{
   min-width: 70px;
}

#container_ShoppingCart input[type="number"]{
   width: 40px;
}

/* SelectPayment****************************************************** */
#container_SelectPayment{
   /* background: #000; */
   margin: 50px auto;
   width: 550px;
   padding: 20px;
   border: 1px solid rgb(217, 224, 230);
   border-radius: 5px;
 }
 #container_SelectPayment input[type="text"]{
   width: 400px;
}
#container_SelectPayment #Orderer input[type="text"]{
   width: 100px;
}

/* 2個字------------------------------------------------ */
#container_SelectPayment label[for="Male"], label[for="Famale"], label[for="Secrecy"]{
   width: 35px;
/*       border: 1px solid rgb(94, 150, 199); */
}
/* 4個字------------------------------------------------ */
#container_SelectPayment label[for="CashOnDelivery"]{
   width: 70PX;
   /*    border: 1px solid rgb(94, 150, 199); */
}

/* 6個字------------------------------------------------ */
#container_SelectPayment label[for="EInvoice"],label[for="ConvenienceStore"]{
   width: 100pX;
/*    border: 1px solid rgb(94, 150, 199); */
   
}
/* 7個字------------------------------------------------ */
#container_SelectPayment label[for="Company"]{
   width: 120PX;
   /*    border: 1px solid rgb(94, 150, 199); */
   /* background: #000; */
}

#container_SelectPayment .col-form-label{
	 width: 70px;
	
}

/* PurchaseSuccess*************************************************************** */
/* 訂單編號--------------------------------------------------------------------- */
#container_PurchaseSuccess{
   text-align: center;
   margin: 50px auto;
   /* background-color: lawngreen; */
}


/* SubmitOrderInfo ************************************************************** */


/* 商品清單區 */ 
.container_product{
   text-align: center;
   /* background: #000; */
   /* align-items: center ; */
 }
/* 訂單編號 */
.orderNumber{
   text-align: left;
   font-size: 20px;
   margin: 10px 0px;

}
.row{
   margin-bottom: 10px;
}

.col-1,.col-2{
   min-width: 60px;

}
.W-SuOdIt{
   border-bottom: 1px solid slategrey;
   padding: 0px 0px 10px 0px;
   /* background: rgb(153, 153, 162); */
   display: flex;
   align-items: center 
}



 /* 付款資訊區 ---------------------------------*/
 .container_Orderer{
   text-align: left;
 }

 .Pay_txt_title{
   font-size: 20px;
   text-decoration:underline;
}  

/* 送出訂單 */
.container_Submit{
   text-align: right;

}
.subtotalBlock{
   /* float: right ; */
   display: inline;
   margin-right: 10px;
   padding: 10px;
}

/* PurchaseSuccess*************************************************************** */

/* 訂購成功--------------------------------------------------------------------- */
 #successText{
   font-size: 80px;
 }  
/* 感謝詞----------------------------------------------------------------------- */
#thanks{
   margin-bottom: 20px;
}




/* MyOrderList*************************************************************** */
#MyOrderList{
   margin-top: 100px;
   text-align:center
}

/* 訂單項目 */
#MyOrderLis .Item{
   margin-bottom: 10px;
   line-height:10px;
   padding: 15px 0px 0px 0px;

}

/* OrderDetail*************************************************************** */
#container_OrderDetail{
   text-align:center;
}
#container_OrderDetail .row{
   margin-bottom: 10px;
}
   
/* 商品清單區 */


#container_OrderDetail .col-1,.col-2{
     min-width: 60px;
 }
 #container_OrderDetail .fa-search{
   float:right;
}

#container_OrderDetail .Item{
   padding: 0px 0px 10px 0px;
   display: flex;
   align-items: center 
}


/* ShoppingCart、MyOrderList****************************************************** */
/* 欄位敘述--------------------------------------------------------- */
.FieldDescription{
   /* line-height:25px; */
    min-width: 70px;
 }

/* ShoppingCart、SelectPayment、OrderDetail****************************************************** */
/* 結帳列 、總金額列-------------------------------------------------------------------------*/
#SubtotalBlock, .SubtotalBlock{
   /*    padding: 10px; */
   text-align: right;
}
/* PurchaseSuccess、OrderDetail*************************************************************** */
/* 訂單編號--------------------------------------------------------------------- */
.OrderNumber{
   text-align: left;
   margin: 10px 0px;
 } 

 /* SubmitOrderInfo、OrderDetail************************************************************** */
 #container_OrderDetail #OrderDetail img{
    width: 100%;
    border-radius: 10px;
 }
 
 /* 商品清單區 */
 #container_OrderDetail,#SubmitOrderInfo .FieldDescription{
 /* line-height:25px; */
    min-width: 60px;
 } 



 